*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

:root{
    --police1: "Quicksand";
    --police2: sans-serif;
    --primary-color: #0d7cc6;
    --secondary-color: #f68712;
    --tertiary-color: #90c2e6;
    --black: #010101;
    --white: #f2f2f2;
    --background: aliceblue;
    --police3: "Playwrite RO", cursive;
    --police4: "Dancing Script";
    --police5: "Pixelify Sans";
    --police6: "Geo";
}
 
header{
    margin-top: 20px;
}

#title{
    font-size: 2.6rem;
    font-family: var(--police6);
}

.slogan-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.slogan-container #slogan{
    font-family: var(--police5);
    font-size: 1.5rem;
    margin-left: 5%;
}

.overview{
    margin-left: 10%;
}

.settings{
    display: flex;
    justify-content: center;
    font-family: var(--police6);
    font-size: larger;
    padding: 1rem;
}

.chrono-set{
    display: flex;
    gap: 1rem;
}

.options{
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    align-items: center;
    border-radius: 5px;
    width: 35%;
    height: 40px;
}

main{
    margin-inline: auto;
    height: 500px;
}

#word-display{
    height: 350px;
    color: white;
}

#input-field{
    width: 100%;
    height: 100px;
    outline: none;
}

#timer{
    font-family: var(--police5);
    display: block;
}

#results{
    margin-left: 2rem;
}