*{
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}


.body{
    box-shadow:22rem white;
}

.title{
    animation : handwrite 500ms linear ; /* fast type */
    font-family: "Speedway";
}
.title{
    animation : handwrite 500ms linear ; /* fast type */
    font-family: "Speedway";
}

@keyframes handwrite {
    0% { clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); }
    100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}